/* Ziaul Choudhury(Zia) */
body{
	margin-left: 			auto;
	margin-right: 			auto;
	margin-bottom: 			50px;
	width: auto;
	font-family:	 		Didot, Georgia, Garamond, Times, serif;
	background-image: 		url("../images/bg-body.jpg");
   	background-color: 		#cccccc;
   	padding: 				25px 100px 0px 100px;
}

header {
	background-image: 		url("../images/circle.png");
	background-position: 	top center;
	background-repeat: 		no-repeat;
	background-size: 		300px;
	text-align: 			center;
	padding-top: 			300px;
	padding-bottom: 		50px;
}

#main-nav ul{
	padding: 				0;
	background-color: 		#f7f7f4;
	margin-bottom: 			80px;
}

a:link {
    text-decoration: 		none;
}

#main-nav li{
	list-style: 			none;
	padding-left: 			10px;
	padding-right: 			20px;
	padding-top: 			20px;
   	padding-bottom: 		10px;
   	font-size: 				20px;
   	margin-left: 			auto;
   	margin-right: 			auto;
}

#main-nav a:hover{
	color: 					#FF0000;
	background-color: 		#e6e8c7;
	text-decoration: 		underline;
}

/*nav li + li:before*/
nav li + li:before{
    content: 				" ○ ";
    padding: 				5px;
}

#middle-image{
	margin-right: 			0;
	margin-left:			0;
	margin-bottom: 			60px;
	text-align: 			center;
}


.row {
	display: 				flex;
}

.column{
	background-image: 		url("../images/hash.png"), url("../images/content.jpg");
	background-position: 	top center, center;
	background-repeat: 		no-repeat, repeat;
	margin-top: 			50px;
	background-size: 		100px;
	padding-top: 			90px;
	box-style: 				border-box;
}

p{
	color: 					#484a4c;
}

h2{
	text-align: 			center;
}

p span {
 	font-size: 				25px; 
 	font-weight: 			bolder;
 	color: 					black;
}

p {
    line-height: 			1.5;
    margin-left: 			15px;
    margin-right: 			15px;
}

strong {
	color: 					black;
}

.marg-right1{
	margin-right: 			10px;
}

.marg1{
	margin-left: 			10px;
	margin-right: 			10px
}

.imgTitle{
	text-align: 			center;
} 

footer {
	background-image: 		url("../images/star.png");
	background-position: 	top center;
	background-repeat: 		no-repeat;
	background-size: 		50px;
	text-align: 			center;
	margin-top: 			100px;
	padding-top: 			40px;

}

footer p {
    line-height: 			0.5;
}

/*Extra credit*/
@media screen and (max-width: 480px) {
  body {
    padding: 				3px 1em;
    margin: 				2px;
    border: 				2px;
    width: 					auto;
  }
}

@media screen and (max-width: 1024px) {
  body {
    padding: 				3px 1em;
    margin: 				2px;
    border: 				2px;
    width: 					auto;
  }
}
